.open-date{
   min-width:25%;
   transform:translateX(700px);
   border:9px double #343a40;
   border-radius: 12px;
/*   background: linear-gradient(black, #343a40);*/


}


@media screen and (max-width: 900px) {
   .open-date {

      transform:translateX(25px);
      min-width:25%;
   }
   .search-container{
      display:flex;
      flex-direction:column;
      width:100%;
      transform:translateX(-45px);
   }


}
