.carousel-container {

    width: 100%;
    margin: 0 auto; /* Center the carousel horizontally */

}

@media screen and (max-width: 900px) {
    .carousel-container {
        min-width: 100%;

    }
    .btn-container {
        zoom :0.8;
        min-width: 100%;
    }

    .carousel-container .carousel-item {
        font-size:12px !important;



    }
    .generated-text {
        margin-top: 20px;
        text-align: center;
        font-size:11px !important;
    }
}

.content {
    box-shadow: 3px 2px 2px 1px rgba(239, 235, 235, 0.02);
}

.carousel-container .carousel-inner {
    height: auto;
}

.carousel-container .carousel-item {
    font-size: 16px;



}

.carousel-container .carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

.generated-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}